<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-dark bg-dark">
    <%= link_to "Rails bootstrap", root_path, class: 'navbar-brand' %>
    <%= render 'layouts/navigation_links' %>
  </nav>
</div>
